/*导入文本样式*/


.andArea{
    background: url("../../assets/pages/media/file/add_img.png") no-repeat scroll center 5px rgba(0, 0, 0, 0);
    border: 1px dashed #E6E6E6;
    color: #CCCCCC;
    font-size: 18px;
    padding-top: 77px;
    position: relative;
    text-align: center;
    top: 0;
}


.filePicker{
    background: none repeat scroll 0 0 #00B7EE;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    height: 44px;
    line-height: 44px;
    width: 90%;
    min-width:120px;
    margin: 0 auto 0px;
    overflow: hidden;
    transition: background 0.2s;
    -moz-transition: background 0.2s;
    -webkit-transition: background 0.2s;
    -o-transition: background 0.2s;
}




