<?xml version="1.0" encoding="UTF-8"?>
<html lang="zh">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
      学院新闻 - 同济大学软件学院
    </title>
    <meta name="keywords"/>
    <meta name="description" content=""/>
    <link href="http://sse.tongji.edu.cn/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href="http://sse.tongji.edu.cn/Assets/css/web/index.css?v=2017" rel="stylesheet"/>
    <link href="http://sse.tongji.edu.cn/Assets/css/web/ny.css?v=2017" rel="stylesheet"/>
    <link href="http://sse.tongji.edu.cn/Assets/css/web/common.css" rel="stylesheet"/>
    <link href="http://sse.tongji.edu.cn/Assets/css/web/webpager.css" rel="stylesheet"/>
    <style type="text/css">
      
        .validation-summary-errors, .field-validation-error {
            color: #ff0000;
            font-size: 12px;
            text-align: left;
        }
    
    </style>
    <script src="http://sse.tongji.edu.cn/Assets/js/jquery-1.11.0.min.js">
    </script>
    <link rel="stylesheet" href="http://sse.tongji.edu.cn/Assets/js/layer-v2.3/layer/skin/layer.css" id="layui_layer_skinlayercss" style=""/>
  </head>
  <body style="">
    <div class="h-top">
      <div class="container topbg">
        <div class="logo fl">
          <a href="http://sse.tongji.edu.cn/">
            <img src="http://sse.tongji.edu.cn/Assets/images/logo.png"/>
          </a>
        </div>
        <div class="top-right fr">
          <div class="ula fl">
            <a href="javascript:;" class="p1" style="visibility:hidden;">
              <img src="http://sse.tongji.edu.cn/Assets/images/w1.png"/>
            </a>
            <a href="javascript:;" class="p1" style="visibility:hidden;">
              <img src="http://sse.tongji.edu.cn/Assets/images/w2.png"/>
            </a>
            <a href="javascript:;" class="logincss">
              Login
            </a>
            <a href="http://sse.tongji.edu.cn/En/Default">
              English 
            </a>
          </div>
          <div class="search fr">
            <div class="inp-text fl">
              <input type="text" class="inp-text" name="" id="skey" value="搜索" style="color: #999;"/>
            </div>
            <div class="inp-but fr">
              <input type="button" class="inp-but" name="" id="btnSearch" value=""/>
            </div>
            <div class="clearfix">
            </div>
          </div>
        </div>
        <div class="clearfix">
        </div>
      </div>
    </div>
    <!--h-top End-->    <div class="hmenu">
      <div class="container">
        <ul>
          <li class="s1">
            <a href="http://sse.tongji.edu.cn/">
              <i>
              </i>
              <span>
              </span>
              首  页
            </a>
          </li>
          <li class="s2" data-id="af04d40e-5dac-4d10-b5cc-a58401080519">
            <a data-id="af04d40e-5dac-4d10-b5cc-a58401080519" target="_self" href="http://sse.tongji.edu.cn/Data/List/xygk">
              <i>
              </i>
              <span>
              </span>
              学院概况
            </a>
            <ul class="erji">
              <li>
                <a data-id="872f7180-b723-4f3a-b301-a76900b6097e" target="_self" href="http://sse.tongji.edu.cn/Data/List/zc">
                  院长致辞
                </a>
              </li>
              <li>
                <a data-id="88ca482e-52a1-4aa4-8445-a76900b5e3be" target="_self" href="http://sse.tongji.edu.cn/Data/List/xy">
                  学院简介
                </a>
              </li>
              <li>
                <a data-id="ce690bb8-5c95-4375-9b49-a76900b61b9e" target="_self" href="http://sse.tongji.edu.cn/Data/List/ld">
                  现任领导
                </a>
              </li>
              <li>
                <a data-id="3ba1c959-109a-4996-ada3-a7b600e7b201" target="_self" href="http://sse.tongji.edu.cn/Data/List/lrld1">
                  历任领导
                </a>
              </li>
              <li>
                <a data-id="51a12de3-0d3c-4ef9-8b8d-a6b100e9cad9" target="_self" href="http://sse.tongji.edu.cn/Data/List/jgsz">
                  机构设置
                </a>
              </li>
              <li>
                <a data-id="d0916cc1-ed6b-4e3c-9834-a6b100e9e8fa" target="_self" href="http://sse.tongji.edu.cn/Data/List/dsj">
                  大事件
                </a>
              </li>
              <li>
                <a data-id="45ef40a4-fdc9-408a-bdf5-a6b100ea2512" target="_self" href="http://sse.tongji.edu.cn/Data/List/xyjj">
                  学院基金
                </a>
              </li>
            </ul>
          </li>
          <li class="s3" data-id="a11c0736-b6cc-4ad0-a2ed-a5cc00fef20a">
            <a data-id="a11c0736-b6cc-4ad0-a2ed-a5cc00fef20a" target="_self" href="http://sse.tongji.edu.cn/data/list/ys">
              <i>
              </i>
              <span>
              </span>
              师资队伍
            </a>
            <ul class="erji">
              <li>
                <a data-id="fc3516f0-ca29-4a03-94f3-a76900b69d33" target="_self" href="http://sse.tongji.edu.cn/Data/List/ys">
                  两院院士
                </a>
              </li>
              <li>
                <a data-id="8e75c8d2-5454-41de-b7db-a76900b6ac69" target="_self" href="http://sse.tongji.edu.cn/Data/List/qr">
                  千人计划
                </a>
              </li>
              <li>
                <a data-id="41758374-2df9-4ef6-83b2-a76900b6bfa7" target="_self" href="http://sse.tongji.edu.cn/Data/List/jq">
                  国家杰青
                </a>
              </li>
              <li>
                <a data-id="044aed98-4efc-4146-968e-a82d00002017" target="_self" href="http://sse.tongji.edu.cn/Data/List/qnqr">
                  青年千人
                </a>
              </li>
              <li>
                <a data-id="85c71fee-4495-4337-86f1-a7b500fd54f9" target="_self" href="http://sse.tongji.edu.cn/Data/List/wzqr">
                  上海外专千人
                </a>
              </li>
              <li>
                <a data-id="97f1d4a5-ae66-4fbd-b4a9-a7b600f1b5a1" target="_self" href="http://sse.tongji.edu.cn/Data/List/qtrc">
                  其他人才
                </a>
              </li>
              <li>
                <a data-id="afd19c59-fc89-4ae5-a06c-a6b200b7f296" target="_self" href="http://sse.tongji.edu.cn/Data/List/azc">
                  教师名录（按职称）
                </a>
              </li>
              <li>
                <a data-id="66819249-619f-4436-9f7a-a6b200b7dac2" target="_self" href="http://sse.tongji.edu.cn/Data/List/azy">
                  教师名录（按专业）
                </a>
              </li>
            </ul>
          </li>
          <li class="s4" data-id="03a4e204-b6e1-44e5-bb80-a6a600b200b4">
            <a data-id="03a4e204-b6e1-44e5-bb80-a6a600b200b4" target="_self" href="http://sse.tongji.edu.cn/Data/List/rcpy">
              <i>
              </i>
              <span>
              </span>
              人才培养
            </a>
            <ul class="erji">
              <li>
                <a data-id="b07e50ac-638f-4e92-a2f6-a6b100fc8b55" target="_self" href="http://sse.tongji.edu.cn/Data/List/bks">
                  本科生
                </a>
              </li>
              <li>
                <a data-id="6b8d88d9-0e77-4baf-a2ba-a6b100fc9d3c" target="_self" href="http://sse.tongji.edu.cn/Data/List/yjs">
                  研究生
                </a>
              </li>
            </ul>
          </li>
          <li class="s5" data-id="c5acfbee-f727-4f55-8d27-a6a600b24a4a">
            <a data-id="c5acfbee-f727-4f55-8d27-a6a600b24a4a" target="_self" href="http://sse.tongji.edu.cn/Data/List/kxyj">
              <i>
              </i>
              <span>
              </span>
              科学研究
            </a>
            <ul class="erji">
              <li>
                <a data-id="d622d979-769a-4124-8721-a6b101012bf5" target="_self" href="http://sse.tongji.edu.cn/Data/List/xyky">
                  学院科研
                </a>
              </li>
              <li>
                <a data-id="15d15fef-f5bc-4a7d-81bd-a6b101015600" target="_self" href="http://sse.tongji.edu.cn/Data/List/yjtd">
                  研究团队
                </a>
              </li>
              <li>
                <a data-id="a817f780-e694-48d0-bb8c-a6b10101864d" target="_self" href="http://sse.tongji.edu.cn/Data/List/cgzs">
                  成果展示
                </a>
              </li>
              <li>
                <a data-id="e7896415-0995-49c4-97a8-a6b10101a3eb" target="_self" href="http://sse.tongji.edu.cn/Data/List/ibm">
                  IBM中心
                </a>
              </li>
              <li>
                <a data-id="40060948-3212-4761-a9dd-a6b10101b585" target="_self" href="http://sse.tongji.edu.cn/Data/List/sysjs">
                  实验室介绍
                </a>
              </li>
            </ul>
          </li>
          <li class="s6" data-id="a4597d02-a91b-4e87-8a24-a6a600b26af6">
            <a data-id="a4597d02-a91b-4e87-8a24-a6a600b26af6" target="_self" href="http://sse.tongji.edu.cn/data/list/gjjh">
              <i>
              </i>
              <span>
              </span>
              国际交流
            </a>
            <ul class="erji">
              <li>
                <a data-id="2b0237eb-6b54-4de4-aa29-a6b10102ae08" target="_self" href="http://sse.tongji.edu.cn/Data/List/gjjh">
                  国际交换
                </a>
              </li>
              <li>
                <a data-id="10ad3732-a272-45f9-b351-a6b10102c485" target="_self" href="http://sse.tongji.edu.cn/Data/List/cgsx">
                  出国实习
                </a>
              </li>
              <li>
                <a data-id="d8dab83b-f05a-4d8d-aba1-a6b10102db15" target="_self" href="http://sse.tongji.edu.cn/Data/List/hz">
                  学历、学位合作
                </a>
              </li>
              <li>
                <a data-id="c3bbc841-7181-4f68-9acc-a6b10102ef22" target="_self" href="http://sse.tongji.edu.cn/Data/List/hwzs">
                  海外招生
                </a>
              </li>
              <li>
                <a data-id="830d950c-7026-44b9-bafa-a6b1010303e7" target="_self" href="http://sse.tongji.edu.cn/Data/List/jhsh">
                  交换生活
                </a>
              </li>
              <li>
                <a data-id="d14e9207-fc97-4f93-9534-a6b101031c88" target="_self" href="http://sse.tongji.edu.cn/Data/List/hzhb">
                  合作伙伴
                </a>
              </li>
              <li>
                <a data-id="76756314-36fa-42cd-9a75-a6b101212d53" target="_self" href="http://sse.tongji.edu.cn/Data/List/gjjlzz">
                  国际交流子站
                </a>
              </li>
            </ul>
          </li>
          <li class="s7" data-id="ab19bf83-5628-43b1-b57d-a6a600b28a6d">
            <a data-id="ab19bf83-5628-43b1-b57d-a6a600b28a6d" target="_self" href="http://sse.tongji.edu.cn/Data/List/dtjs">
              <i>
              </i>
              <span>
              </span>
              党建工作
            </a>
            <ul class="erji">
              <li>
                <a data-id="d02660cb-af3d-4636-960a-a6b101034de4" target="_self" href="http://sse.tongji.edu.cn/Data/List/djgz">
                  组织概况
                </a>
              </li>
              <li>
                <a data-id="7e005b14-cd2a-4344-87d4-a80e010a89a5" target="_self" href="http://sse.tongji.edu.cn/Data/List/jwgz">
                  工作动态
                </a>
              </li>
              <li>
                <a data-id="a52a6e2c-c9c2-449f-b335-a6b1010362c3" target="_self" href="http://sse.tongji.edu.cn/Data/List/tzgz">
                  党务公开
                </a>
              </li>
              <li>
                <a data-id="60f7c71c-3255-41d9-9eb2-a6b1010378b7" target="_self" href="http://sse.tongji.edu.cn/Data/List/ghgz">
                  支部活动
                </a>
              </li>
              <li>
                <a data-id="3944d313-fe43-4d07-b316-a80e010b2551" target="_self" href="http://sse.tongji.edu.cn/Data/List/dwgz">
                  学习资料
                </a>
              </li>
            </ul>
          </li>
          <li class="s8" data-id="a62ba8eb-56f3-4c98-9b95-a6a600b2ac2f">
            <a data-id="a62ba8eb-56f3-4c98-9b95-a6a600b2ac2f" target="_self" href="http://sse.tongji.edu.cn/Data/List/xsgz">
              <i>
              </i>
              <span>
              </span>
              学生工作
            </a>
            <ul class="erji">
              <li>
                <a data-id="eb612df9-16ba-4553-8373-a6b101039688" target="_self" href="http://sse.tongji.edu.cn/Data/List/xscxjd">
                  学生创新基地
                </a>
              </li>
              <li>
                <a data-id="c6946c91-e57f-442e-b8fa-a6b10103ad25" target="_self" href="http://sse.tongji.edu.cn/Data/List/xshd">
                  学生活动
                </a>
              </li>
            </ul>
          </li>
          <li class="s9" data-id="35e08a77-03d9-48b0-add1-a6a600b2cb5b">
            <a data-id="35e08a77-03d9-48b0-add1-a6a600b2cb5b" target="_self" href="http://sse.tongji.edu.cn/data/list/xyh">
              <i>
              </i>
              <span>
              </span>
              校友联络
            </a>
            <ul class="erji">
              <li>
                <a data-id="1904fbd9-1500-425b-8f57-a6b10104047a" target="_self" href="http://sse.tongji.edu.cn/Data/List/xyh">
                  校友活动
                </a>
              </li>
              <li>
                <a data-id="1afb155f-db9a-46ac-99ff-a6b101042761" target="_self" href="http://sse.tongji.edu.cn/Data/List/xyfc">
                  校友风采
                </a>
              </li>
              <li>
                <a data-id="dd597597-e06f-4273-a67d-a750010a3a59" target="_self" href="http://sse.tongji.edu.cn/Data/List/xymd">
                  校友名单
                </a>
              </li>
            </ul>
          </li>
          <li class="s10" data-id="c000c40b-657c-4737-b5f9-a6a600b2e8ff">
            <a data-id="c000c40b-657c-4737-b5f9-a6a600b2e8ff" target="_self" href="http://sse.tongji.edu.cn/data/list/xzzq">
              <i>
              </i>
              <span>
              </span>
              资源共享
            </a>
            <ul class="erji">
              <li>
                <a data-id="430ac171-ce3c-4abf-ba3d-a6b1010444ab" target="_self" href="http://sse.tongji.edu.cn/Data/List/xzzq">
                  下载专区
                </a>
              </li>
              <li>
                <a data-id="74c51d0e-5636-4e01-a391-a6b1010458d4" target="_self" href="http://sse.tongji.edu.cn/Data/List/spzq">
                  视频专区
                </a>
              </li>
            </ul>
          </li>
          <li class="s11 active" data-id="cf5cc945-f679-4251-97ef-a58401080525">
            <a data-id="cf5cc945-f679-4251-97ef-a58401080525" target="_self" href="http://sse.tongji.edu.cn/data/list/xyxw">
              <i>
              </i>
              <span>
              </span>
              信息中心
            </a>
            <ul class="erji">
              <li>
                <a data-id="c716aa25-4651-4bfa-a192-a6b100f9cbcd" target="_self" href="http://sse.tongji.edu.cn/Data/List/xyxw">
                  学院新闻
                </a>
              </li>
              <li>
                <a data-id="9b82205f-52cd-4c37-8cec-a6b100f9e4ef" target="_self" href="http://sse.tongji.edu.cn/Data/List/xyhd">
                  学院活动
                </a>
              </li>
              <li>
                <a data-id="307d7853-cbca-4743-9075-a6b100fa0212" target="_self" href="http://sse.tongji.edu.cn/Data/List/xwdt">
                  学院通知
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="clearfix">
        </div>
      </div>
    </div>
    <!--hmenu End-->    <div class="ny-con">
      <div class="container">
        <div class="ke-tit">
          <div class="nav-path">
            
                当前地址: 
            <a href="http://sse.tongji.edu.cn/">
              首页
            </a>
             &gt; 
            <a target="_self" href="http://sse.tongji.edu.cn/data/list/xyxw">
              信息中心
            </a>
             &gt; 
            <a target="_self" href="http://sse.tongji.edu.cn/Data/List/xyxw">
              学院新闻
            </a>
          </div>
          <div class="clearfix">
          </div>
        </div>
        <!--ke-tit-->        <div class="main-left">
          <div class="nav-panel-title">
            信息中心
          </div>
          <div class="side-nav-panel">
            <ul class="slide-nav-ul">
              <li>
                <a data-id="c716aa25-4651-4bfa-a192-a6b100f9cbcd" target="_self" href="http://sse.tongji.edu.cn/data/list/xyxw" class="active">
                  学院新闻
                </a>
              </li>
              <li>
                <a data-id="9b82205f-52cd-4c37-8cec-a6b100f9e4ef" target="_self" href="http://sse.tongji.edu.cn/data/list/xyhd">
                  学院活动
                </a>
              </li>
              <li>
                <a data-id="307d7853-cbca-4743-9075-a6b100fa0212" target="_self" href="http://sse.tongji.edu.cn/data/list/xwdt">
                  学院通知
                </a>
              </li>
            </ul>
            <div class="clear">
            </div>
          </div>
        </div>
        <div class="main-right">
          <div class="right-nr">
            <ul class="data-list">
              <li>
                <a target="_self" href="http://sse.tongji.edu.cn/Data/View/2365">
                  
                    我院学生获得“中国高校计算机大赛-移动应用创新赛”大奖
                
                </a>
                <span class="data-list-time">
                  
                    2016-09-29
                
                </span>
                <div class="clearfix">
                </div>
              </li>
              <li>
                <a target="_self" href="http://sse.tongji.edu.cn/Data/View/2366">
                  
                    软件学院2016级新生参观嘉定校区
                
                </a>
                <span class="data-list-time">
                  
                    2016-09-27
                
                </span>
                <div class="clearfix">
                </div>
              </li>
              <li>
                <a target="_self" href="http://sse.tongji.edu.cn/Data/View/2367">
                  
                    张林副教授获2016年国家自然科学基金立项
                
                </a>
                <span class="data-list-time">
                  
                    2016-09-08
                
                </span>
                <div class="clearfix">
                </div>
              </li>
              <li>
                <a target="_self" href="http://sse.tongji.edu.cn/Data/View/2368">
                  
                    软件学院召开新生家长见面会及学长学姐经验交流会
                
                </a>
                <span class="data-list-time">
                  
                    2016-09-06
                
                </span>
                <div class="clearfix">
                </div>
              </li>
              <li>
                <a target="_self" href="http://sse.tongji.edu.cn/Data/View/2369">
                  
                    软件学院举行2016届学生毕业典礼暨毕业晚会
                
                </a>
                <span class="data-list-time">
                  
                    2016-07-05
                
                </span>
                <div class="clearfix">
                </div>
              </li>
              <li>
                <a target="_self" href="http://sse.tongji.edu.cn/Data/View/2370">
                  
                    美国罗斯霍曼理工学院来访 
                
                </a>
                <span class="data-list-time">
                  
                    2016-06-15
                
                </span>
                <div class="clearfix">
                </div>
              </li>
              <li>
                <a target="_self" href="http://sse.tongji.edu.cn/Data/View/2371">
                  
                    软件学院研究生会举办“初识企业”交流分享会
                
                </a>
                <span class="data-list-time">
                  
                    2016-06-03
                
                </span>
                <div class="clearfix">
                </div>
              </li>
              <li>
                <a target="_self" href="http://sse.tongji.edu.cn/Data/View/2372">
                  
                    软件学院研究生第三党支部开展“净书留香”主题志愿服务活动
                
                </a>
                <span class="data-list-time">
                  
                    2016-05-31
                
                </span>
                <div class="clearfix">
                </div>
              </li>
              <li>
                <a target="_self" href="http://sse.tongji.edu.cn/Data/View/2373">
                  
                    我院2016实习招聘宣讲月顺利结束
                
                </a>
                <span class="data-list-time">
                  
                    2016-05-24
                
                </span>
                <div class="clearfix">
                </div>
              </li>
              <li>
                <a target="_self" href="http://sse.tongji.edu.cn/Data/View/2374">
                  
                    姜富明书记上党课：《忠诚、干净、担当——做一名合格的党员干部...
                
                </a>
                <span class="data-list-time">
                  
                    2016-05-19
                
                </span>
                <div class="clearfix">
                </div>
              </li>
              <li>
                <a target="_self" href="http://sse.tongji.edu.cn/Data/View/2375">
                  
                    我院足球队在15-16年“枫林杯”研究生足球赛中荣获冠军
                
                </a>
                <span class="data-list-time">
                  
                    2016-05-17
                
                </span>
                <div class="clearfix">
                </div>
              </li>
              <li>
                <a target="_self" href="http://sse.tongji.edu.cn/Data/View/2376">
                  
                    软件学院举行2016届研究生毕业典礼
                
                </a>
                <span class="data-list-time">
                  
                    2016-05-12
                
                </span>
                <div class="clearfix">
                </div>
              </li>
              <li>
                <a target="_self" href="http://sse.tongji.edu.cn/Data/View/2377">
                  
                    我院本科生第四党支部集体参观陈云纪念馆
                
                </a>
                <span class="data-list-time">
                  
                    2016-05-12
                
                </span>
                <div class="clearfix">
                </div>
              </li>
              <li>
                <a target="_self" href="http://sse.tongji.edu.cn/Data/View/2378">
                  
                    软件学院团学联产生第十五届委员会名单
                
                </a>
                <span class="data-list-time">
                  
                    2016-05-11
                
                </span>
                <div class="clearfix">
                </div>
              </li>
              <li>
                <a target="_self" href="http://sse.tongji.edu.cn/Data/View/2379">
                  
                    他山之石，可以攻玉—— 软件学院学生代表参加2016上海市高校网络...
                
                </a>
                <span class="data-list-time">
                  
                    2016-05-11
                
                </span>
                <div class="clearfix">
                </div>
              </li>
              <li>
                <a target="_self" href="http://sse.tongji.edu.cn/Data/View/2380">
                  
                    研究生第一党支部举办党章党规学习活动
                
                </a>
                <span class="data-list-time">
                  
                    2016-05-10
                
                </span>
                <div class="clearfix">
                </div>
              </li>
              <li>
                <a target="_self" href="http://sse.tongji.edu.cn/Data/View/2381">
                  
                    我院团委与上海电力学院计算机科学与技术学院团委签署共建协议 
                
                </a>
                <span class="data-list-time">
                  
                    2016-05-04
                
                </span>
                <div class="clearfix">
                </div>
              </li>
              <li>
                <a target="_self" href="http://sse.tongji.edu.cn/Data/View/2382">
                  
                    软件学院举办研究生实用知识系列讲座
                
                </a>
                <span class="data-list-time">
                  
                    2016-05-04
                
                </span>
                <div class="clearfix">
                </div>
              </li>
              <li>
                <a target="_self" href="http://sse.tongji.edu.cn/Data/View/2383">
                  
                    瑞典林奈大学教师来访
                
                </a>
                <span class="data-list-time">
                  
                    2016-05-04
                
                </span>
                <div class="clearfix">
                </div>
              </li>
              <li>
                <a target="_self" href="http://sse.tongji.edu.cn/Data/View/2384">
                  
                    郑州轻工业学院来访 
                
                </a>
                <span class="data-list-time">
                  
                    2016-04-21
                
                </span>
                <div class="clearfix">
                </div>
              </li>
            </ul>
            <div class="clearfix">
            </div>
            <!--MvcPager v2.0 for ASP.NET MVC 3.0+ © 2009-2013 Webdiyer (http://www.webdiyer.com)-->            <div id="flickrpager" style="float:right;">
              <a disabled="disabled">
                <img src="http://sse.tongji.edu.cn/Assets/images/page1.png"/>
              </a>
              <span class="current">
                1
              </span>
              <a href="http://sse.tongji.edu.cn/Data/List/xyxw?page=2">
                2
              </a>
              <a href="http://sse.tongji.edu.cn/Data/List/xyxw?page=3">
                3
              </a>
              <a href="http://sse.tongji.edu.cn/Data/List/xyxw?page=4">
                4
              </a>
              <a href="http://sse.tongji.edu.cn/Data/List/xyxw?page=5">
                5
              </a>
              <a href="http://sse.tongji.edu.cn/Data/List/xyxw?page=6">
                6
              </a>
              <a href="http://sse.tongji.edu.cn/Data/List/xyxw?page=7">
                7
              </a>
              <a href="http://sse.tongji.edu.cn/Data/List/xyxw?page=8">
                8
              </a>
              <a href="http://sse.tongji.edu.cn/Data/List/xyxw?page=9">
                9
              </a>
              <a href="http://sse.tongji.edu.cn/Data/List/xyxw?page=10">
                10
              </a>
              <a href="http://sse.tongji.edu.cn/Data/List/xyxw?page=11">
                ...
              </a>
              <a href="http://sse.tongji.edu.cn/Data/List/xyxw?page=2">
                <img src="http://sse.tongji.edu.cn/Assets/images/page2.png"/>
              </a>
            </div>
            <!--MvcPager v2.0 for ASP.NET MVC 3.0+ © 2009-2013 Webdiyer (http://www.webdiyer.com)-->          </div>
        </div>
        <div class="clearfix">
        </div>
      </div>
    </div>
    <!--/nybg-->    <div class="fadress">
      <div class="container">
        <div class="fa-left fl">
          <h4>
            联系我们
          </h4>
        </div>
        <div class="fa-mid fl">
          <h4>
            快速链接
          </h4>
          <div class="clearfix">
          </div>
        </div>
        <div class="fa-right fr">
          <a href="http://sse.tongji.edu.cn/">
            <img src="http://sse.tongji.edu.cn/Assets/images/flogo.png"/>
          </a>
        </div>
        <div class="clearfix">
        </div>
      </div>
    </div>
    <div class="copy">
      <div class="container">
        <p>
           Copyright
          <a href="http://sse.tongji.edu.cn/EWebSysAdmin">
            ©
          </a>
           2017 同济大学软件学院
        </p>
        <p style="color: #fff;">
          
                技术支持：
                
          <a href="http://www.51eweb.cn/Home/" target="_blank" style="color: #fff; font-size: 12px;">
            上海维程
          </a>
        </p>
      </div>
    </div>
    <div id="AntiForgeryToken" style="display: none;">
      <input name="__RequestVerificationToken" type="hidden" value="weWL6KNmN3XIP8lCM94mrp5Fg2M4MLNk5inIL2CkiG_6FYjdHc0-sJPSDafulKA7MuH7YsEMkILQYPY9SDqz_QqAOhLLV6kPlHfcuvBN7Kv3Dg7GtB6SDs0aGQH835kgaN2yMSjSBeNk3WhN0tXu9pfpF4tPj7Zp6XdGrEWHs1k1"/>
    </div>
    <!-- jQuery -->    <script src="http://sse.tongji.edu.cn/Assets/js/scrollToTop.js" type="text/javascript">
    </script>
    <script src="http://sse.tongji.edu.cn/Assets/js/JMenu/JMenu.js">
    </script>
    <script type="text/javascript" src="http://sse.tongji.edu.cn/Assets/js/jquery.cookies.2.2.0.js">
    </script>
    <script src="http://sse.tongji.edu.cn/Assets/js/layer-v2.3/layer/layer.js">
    </script>
    <script type="text/javascript">
//<![CDATA[


        //登录
        $(".logincss").click(function () {
            //直接登录
            //if ($(this).data("flag") != undefined && $(this).data("flag") == "0") {
            layer.open({
                type: 2,
                title: '登录',
                shade: false,
                area: ['360px', '215px'], //宽高
                content: ['/Default/Login', 'no'], //iframe的url，no代表不显示滚动条
            });
            layer.close(index);
            // }
            //else {
            //询问登录
            
            // }
        });
    
//]]>
    </script>
    <script type="text/javascript">
//<![CDATA[

        /*img error*/
        onerror = "ImgLoadError(this)"
        function ImgLoadError(img) { $(img).attr('src', '/assets/img/nopic.jpg'); }

        function search(a) {
            var b = "/?s=",
            d = document.getElementById(a),
            e = d.value;
            if (e = e.replace(/^\s*(.*?)\s*$/, "$1"), e.length > 100 && (e = e.substring(0, 100)), "" == e) { return window.location.href = window.location.href }
            if (/\d+/.test(e)) { e = /\d+/.exec(e); }
            e = encodeURIComponent(e);
            window.location.href = b + e;
        }

        $(function () {
            /*srarch*/
            $('#btnSearch').on('click', function () { search('skey'); });
            $('#skey').on('keypress', function (event) {
                if (event.keyCode == 13) {
                    search('skey');
                    return false;
                }
            }).on('click', function () { if ($(this).val() == '搜索') { $(this).val('').css({ 'color': '#333' }); } })
              .on('blur', function () { if ($(this).val().length == 0) { $(this).val('搜索').css({ 'color': '#999' }); } }).val('搜索').css({ 'color': '#999' });

            //查询关键字选中
            if ('' != "") {
                $("#skey").val('');
            }

            //selected menu
            var _url = window.location.href.toLowerCase();

            
            $('.hmenu li').each(function (k, v) {
                if ('X.Project.Core.Models.Model.Category' != null) {
                    //var _vhref = $(v).attr('href').toLocaleLowerCase();
                    if ($(v).data('id') == 'cf5cc945-f679-4251-97ef-a58401080525') {
                        $(v).addClass("active");
                    }
                }
            });

            //左侧选中
            $('.slide-nav-ul li a').each(function (k, v) {
                if ('X.Project.Core.Models.Model.Category' != null) {
                    var _vhref = $(v).attr('href').toLocaleLowerCase();
                    if ($(v).data('id') == 'c716aa25-4651-4bfa-a192-a6b100f9cbcd' || (_url.indexOf(_vhref) > -1 && _vhref.length > 5)) {
                        $(v).addClass("active");
                        $(v).parents("ul").prev().addClass("active");
                        $(v).parents("ul").show();
                        $(v).next().show();
                        return;
                    }
                }
            });

            //底部友情链接
            $("#links").change(function () {
                var _val = $(this).val();
                if (_val.length > 0) { window.open($(this).val()); }
            });
        });
        //go top
        scrolltotop.offset(30, 30);
        scrolltotop.init();
    
//]]>
    </script>
    <!-- jquery.unobtrusive -->    <script type="text/javascript" src="http://sse.tongji.edu.cn/WebResource.axd?d=FSAdI2X3ltE6_KeNkeFBLzHbF7xC7M5-b3ITpUjLdWM1hkKiS_qAUXJC0svRqpUO5QjOZsOo2o1dy9h1m9ujGNWrgksCMlT3Bg3SMB__LO6TToB77K1ewENSecU10rJdA5E2nlIaqLCZ-jIQgGdDXg2&amp;t=635288315502966771">
    </script>
    <script type="text/javascript">
//<![CDATA[

        if ($(window).width() > 768) {
            $(window).scroll(function (event) {
                var winTop = $(window).scrollTop();
                var conheight = $(".main-left").height() + 130;
                var bodyheight = $("body").innerHeight();
                var winheight = $(window).innerHeight();
                //网站底部高度（根据网站需求修改.foot样式）
                var offtop = $(".fadress")[0].offsetTop;
                if (winTop >= 600 && winTop <= (bodyheight - conheight - 240) && conheight < (offtop - winTop)) {
                    $(".main-left").css({ "position": "fixed", "top": "0px", "marginTop": "0px" });
                } else {
                    $(".main-left").removeAttr("style");
                }
            });
        }
    
//]]>
    </script>
    <div style="text-indent: -999px; height: 0px; width: 0px; display: none; overflow: hidden;">
    </div>
    <div id="topcontrol" style="position: fixed; bottom: 30px; right: 30px; display: none; cursor: pointer;" title="回到顶部">
      <img src="http://sse.tongji.edu.cn/assets/img/goTop.png" style="width:48px; height:48px;"/>
    </div>
  </body>
</html>
