<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <i class="icon-globe theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">锐研小助手</span>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#" data-target="#tab_1_1" data-toggle="tab">使用帮助</a>
                    </li>
                    <li>
                        <a href="#" data-target="#tab_1_2" data-toggle="tab">常见问题</a>
                    </li>
                    <li>
                        <a href="#" data-target="#tab_1_3" data-toggle="tab">提交建议</a>
                    </li>
                </ul>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <!-- GENERAL QUESTION TAB -->
                    <div class="tab-pane active" id="tab_1_1">
                        <div id="accordion1" class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#" data-target="#accordion1_1"> 1. 不知道锐研数据平台的作用 ? </a>
                                    </h4>
                                </div>
                                <div id="accordion1_1" class="panel-collapse collapse in">
                                    <div class="panel-body"> 锐研是萌泰数据旗下的大数据服务产品，集采集、分析、检索于一体的数据服务平台，
                                        锐研竭力为您提供优质的数据服务，满足用户对于数据处理的所有需求. </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#" data-target="#accordion1_2"> 2. 不知道如何进行配置采集模板 ? </a>
                                    </h4>
                                </div>
                                <div id="accordion1_2" class="panel-collapse collapse">
                                    <div class="panel-body"> 采集模板配置包括系统模板和自定义模板，系统配置模板可按提示输入信息生成配置，
                                        自定义配置分为三类，可按操作文档进行自定义配置. </div>
                                </div>
                            </div>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#" data-target="#accordion1_3"> 3. 如何对数据进行分析 ? </a>
                                    </h4>
                                </div>
                                <div id="accordion1_3" class="panel-collapse collapse">
                                    <div class="panel-body"> 分析主要包括两个模块:文本分析和SLQ分析，对文本类的数据我们提供了多种分析方法，
                                        您可以直接对分析结果进行统计处理，SQL分析可以按照提示生成SQL语句. </div>
                                </div>
                            </div>
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#" data-target="#accordion1_4"> 4. 如何进行文本搜索 ? </a>
                                    </h4>
                                </div>
                                <div id="accordion1_4" class="panel-collapse collapse">
                                    <div class="panel-body"> 可以先将采集库数据导入搜索库，再搜索关键字. </div>
                                </div>
                            </div>
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#" data-target="#accordion1_5"> 5. 如何获取更长的使用时间 ? </a>
                                    </h4>
                                </div>
                                <div id="accordion1_5" class="panel-collapse collapse">
                                    <div class="panel-body"> 您可以联系客服购买更长时间的使用权限. </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END GENERAL QUESTION TAB -->
                    <!-- MEMBERSHIP TAB -->
                    <div class="tab-pane" id="tab_1_2">
                        <div id="accordion2" class="panel-group">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#" data-target="#accordion2_1"> 1. 如何对xpath语法检测 ? </a>
                                    </h4>
                                </div>
                                <div id="accordion2_1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p> 可以安装chrome的插件xpath helper，使用进入想要采集的网页，打开xpath helper插件输入xpath语句就会出来结果.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#" data-target="#accordion2_2"> 2. 采集不到数据 ? </a>
                                    </h4>
                                </div>
                                <div id="accordion2_2" class="panel-collapse collapse">
                                    <div class="panel-body"> <p>1 .请查看采集监控中的提示信息，确认xpath语句能够准确获取数据。</p>
                                        <p>2 .控制访问间隔时间避免被目标网站屏蔽。</p>
                                        <p>3 .确认静态页面含有有效数据。</p></div>
                                </div>
                            </div>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#" data-target="#accordion2_3"> 3. 搜索不到数据 ? </a>
                                    </h4>
                                </div>
                                <div id="accordion2_3" class="panel-collapse collapse">
                                    <div class="panel-body"> 请先确定你已经将输入导入搜索库. </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#" data-target="#accordion2_4"> 4. 想要更加丰富有效的采集数据和分析结果 ? </a>
                                    </h4>
                                </div>
                                <div id="accordion2_4" class="panel-collapse collapse">
                                    <div class="panel-body"> 请联系客服说明情况，我们将安排开发人员进行自定义的采集和分析. </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END MEMBERSHIP TAB -->
                    <!-- TERMS OF USE TAB -->
                    <div class="tab-pane" id="tab_1_3">
                        <div id="accordion3" class="panel-group">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#" data-target="#accordion3_1"> 1. 如何提交用户反馈 ? </a>
                                    </h4>
                                </div>
                                <div id="accordion3_1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p> 请联系客服人员，您的每一个善意的建议我们都会听取改进，锐研很高兴为您服务.</p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <!-- END TERMS OF USE TAB -->
                </div>
            </div>
        </div>
    </div>
</div>