<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#">采集</a>
        <i class="fa fa-circle"></i>
    </li>
    <li class="active" data-ng-bind="$state.current.data.pageTitle"></li>
</ul>

<!-- Tab -->
<div class="col-md-12">
    <div>
        <tabset justified="true">
            <tab  ng-click="changeTemplate(1)" active=active.tab1>
                <tab-heading>
                    单页采集
                    <i class="glyphicon glyphicon-file"></i>
                </tab-heading>
            </tab>
            <tab ng-click="changeTemplate(2)" active=active.tab2>
                <tab-heading>
                    分页采集
                    <i class="glyphicon glyphicon-duplicate"></i>
                </tab-heading>
            </tab>
            <tab ng-click="changeTemplate(3)" active=active.tab3>
                <tab-heading>
                    分层采集
                    <i class="icon-link"></i>
                </tab-heading>
            </tab>

            <tab ng-click="changeTemplate(4)" active=active.tab4>
                <tab-heading>
                    高级采集
                    <i class="icon-link"></i>
                </tab-heading>
            </tab>

        </tabset>
    </div>
</div>

<div class="row" ng-model="isadvanced" ng-init="isadvanced=false" ng-show="isadvanced==false">
    <div class="col-md-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet box green-meadow">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>创建模板</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                    <a href="#" data-toggle="modal" class="config"> </a>
                    <a href="javascript:;" class="reload"> </a>
                    <a href="javascript:;" class="remove"> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form  class="form-horizontal form-bordered">

                    <main class="row-fluid">
                        <div class="col-md-6" style="padding:0;">
                            <div class="numberedtextarea-wrapper "><textarea id="json-src" ng-model="usertemplateStr" placeholder="在此输入json字符串..." class="form-control" style="height:553px;padding:0 10px 10px 20px;border:0;border-right:solid 1px #ddd;border-bottom:solid 1px #ddd;border-radius:0;resize: none; outline:none;">
                                {{usertemplateStr}}

                            </textarea></div>
                        </div>
                        <div class="col-md-6" style="padding:0;">

                            <div id="right-box" style="height:553px;border-right:solid 1px #ddd;border-bottom:solid 1px #ddd;border-radius:0;resize: none;overflow-y:scroll; outline:none;position:relative;">
                                <div id="line-num" style="background-color:#fafafa;padding:0px 8px;float:left;border-right:dashed 1px #eee;display:none;z-index:-1;color:#999;position:absolute;text-align:center;over-flow:hidden;"><div>1<div><div>2<div><div>3<div></div></div></div></div></div></div></div>
                                <div class="ro" id="json-target" style="padding:0px 25px;"><span data-type="object" data-inner="&lt;i style=&quot;cursor:pointer;&quot; class=&quot;fa fa-minus-square-o&quot; onclick=&quot;hide(this)&quot;&gt;&lt;/i&gt;{&lt;br&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;span class=&quot;json_key&quot;&gt;&quot;json&quot;&lt;/span&gt;:&lt;span class=&quot;json_string&quot;&gt;&quot;yes&quot;&lt;/span&gt;&lt;br&gt;}"><i style="cursor:pointer;" class="fa fa-minus-square-o" onclick="hide(this)"></i>{<br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="json_key">"json"</span>:<span class="json_string">"yes"</span><br>}</span></div>
                            </div>
                            <form id="form-save" method="POST"><input type="hidden" value="" id="txt-content" name="content"></form>
                        </div>
                        <br style="clear:both;">
                    </main>

                    <div class="form-actions" ng-disabled="currentProject.id>0">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-6" >
                                <button ng-disabled="currentProject.id>0" class="btn green" ng-click="createTemplate()">
                                    <i class="fa fa-check" ></i>创建</button>
                                <button type="button" ng-click="reset()" class="btn default">重置</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>

<div class="col-lg-12" ng-show="isadvanced==true">

    <!-- The side tabs on the left -->
    <div class="col-lg-1" style="padding-top: 60px">
        <tabset vertical="true">
                <!-- The editing tab -->
                <tab ng-click="changeTab_advancedTemplate(0)">
                    <tab-heading>
                        <div class="row">
                            编辑
                            <i class="glyphicon glyphicon-edit"></i>
                        </div>
                    </tab-heading>
                </tab>

                <!-- The importing tab -->
                <tab ng-click="changeTab_advancedTemplate(1)">
                    <tab-heading>
                        <div class="row">
                            导入
                            <i class="glyphicon glyphicon-floppy-open"></i>
                        </div>
                    </tab-heading>
                </tab>

                <!-- The exporting tab -->
                <tab ng-click="changeTab_advancedTemplate(2)">
                    <tab-heading>
                        <div class="row">
                            导出
                            <i class="glyphicon glyphicon-floppy-save"></i>
                        </div>
                    </tab-heading>
                </tab>

                <!-- The monitoring tab -->
                <tab ng-click="changeTab_advancedTemplate(3)">
                    <tab-heading>
                        <div class="row">
                            监控
                            <i class="glyphicon glyphicon-time"></i>
                        </div>
                    </tab-heading>
                </tab>

        </tabset>
    </div>
    
    <!-- 采集区域 -->
    <!-- “编辑” -->
    <div class="col-lg-11" ng-show="side_index==0">
        <!-- 标签 -->
        <ul id="myTab" class="nav nav-tabs">

            <li class="active">
                <a href="/#basic" data-toggle="tab">
                    基本信息
                </a>
            </li>

            <li>
                <a href="/#assist" data-toggle="tab">
                    辅助规则
                </a>
            </li>

            <li>
                <a href="/#urlrule" data-toggle="tab">
                    URL规则
                </a>
            </li>

            <li>
                <a href="/#miningrule" data-toggle="tab">
                    采集规则
                </a>
            </li>

            <li>
                <a href="/#storerule" data-toggle="tab">
                    持久化规则
                </a>
            </li>

            <li>
                <a href="/#planrule" data-toggle="tab">
                    执行计划
                </a>
            </li>

        </ul>

        <!-- 标签内容 -->
        <div id="myTabContent" class="tab-content">

            <!-- 基本信息 -->
            <div class="tab-pane fade in active" id="basic">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <br/>
                        <label for="projectname" class="col-sm-2 control-label">项目名称</label>
                        <div class="col-xs-4">
                            <select  class="form-control" id = "projectname"
                                     ng-init="selected_project = projects[0]"
                                     ng-model="selected_project"
                                     ng-options="x.advanceProjectEntity.project_name for x in projects"
                                     ng-change="changeProject()">
                            </select>
                        </div>
                        <div class="col-xs-4">
                            <button class="btn btn-default" data-toggle="modal" data-target="#modal_create_project">新建项目</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="taskname" class="col-sm-2 control-label">任务名称</label>
                        <div class="col-xs-4">
                            <!--<input type="text" class="form-control" id="taskname"-->
                                   <!--placeholder="请输入任务名称">-->
                            <select  class="form-control" id = "taskname" ng-init="selected_task = selected_project.advanceTaskEntities[0]" ng-model="selected_task" ng-options="x.task_name for x in selected_project.advanceTaskEntities" ng-change="changeTask()">
                            </select>
                        </div>
                        <div class="col-xs-4">
                            <button class="btn btn-default" data-toggle="modal" data-target="#modal_create_task">新建任务</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="manager" class="col-sm-2 control-label">负责人</label>
                        <div class="col-xs-4">
                            <input type="text" ng-model="task_leader" ng-init="task_leader=''" class="form-control" id="manager"
                                   placeholder="请输入负责人">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="taskdescription" class="col-sm-2 control-label">任务描述</label>
                        <div class="col-xs-4">
                            <textarea class="form-control" rows="3" id="taskdescription" ng-model="task_description" ng-init="task_description=''"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <span class="col-xs-2"></span>
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-primary">上一步</button>
                        </div>
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-primary" ng-click="changeTabs('assist',true)">下一步</button>
                        </div>
                    </div>

                </form>
            </div>

            <!-- 辅助信息 -->
            <div class="tab-pane fade" id="assist">
                <form class="form-horizontal" role="form">
                    <!-- 登录页配置 -->
                    <div class="form-group">
                        <br/>
                        <label for="signup" class="col-sm-2 control-label">登陆配置</label>
                        <div class="col-xs-3">
                            <select class="form-control" id="signup" ng-model="open" ng-init="open=false" >
                                <option value=false ng-selected="true">false</option>
                                <option value=true>true</option>
                            </select>
                        </div>
                    </div>

                    <!-- 根据是否选择登陆配置来决定是否显示 -->
                    <div ng-show="open">

                        <div class="form-group">
                            <label for="signurl" class="col-sm-2 control-label">登录页路径</label>
                            <div class="col-xs-4">
                                <input type="text" class="form-control" id="signurl"
                                       ng-model="login_page_path" ng-init="login_page_path=''">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">用户名</label>
                            <div class="col-xs-4">
                                <input type="text" class="form-control" id="username"
                                       ng-model="login_username" ng-init="login_username=''">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="username_xpath" class="col-sm-2 control-label">xpath</label>
                            <div class="col-xs-4">
                                <input type="text" class="form-control" id="username_xpath"
                                       ng-model="login_username_xpath" ng-init="login_username_xpath=''">
                            </div>
                            <div class="col-xs-4">
                                <button class="btn btn-default" data-toggle="modal" data-target="#myModal">选择</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">密码</label>
                            <div class="col-xs-4">
                                <input type="text" class="form-control" id="password"
                                       ng-model="login_password" ng-init="login_password=''">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password_xpath" class="col-sm-2 control-label">xpath</label>
                            <div class="col-xs-4">
                                <input type="text" class="form-control" id="password_xpath"
                                       ng-model="login_password_xpath" ng-init="login_password_xpath=''">
                            </div>
                            <div class="col-xs-4">
                                <button class="btn btn-default" data-toggle="modal" data-target="#myModal">选择</button>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="login_verifycode" class="col-sm-2 control-label">验证码</label>
                            <div class="col-xs-4">
                                <input type="text" class="form-control" id="login_verifycode"
                                       ng-model="login_verifycode" ng-init="login_verifycode=''">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="login_verifycode_xpath" class="col-sm-2 control-label">xpath</label>
                            <div class="col-xs-4">
                                <input type="text" class="form-control" id="login_verifycode_xpath"
                                       ng-model="login_verifycode_xpath" ng-init="login_verifycode_xpath=''">
                            </div>
                            <div class="col-xs-4">
                                <button class="btn btn-default" data-toggle="modal" data-target="#myModal">选择</button>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="cookie" class="col-sm-2 control-label">cookie</label>
                            <div class="col-xs-4">
                                <textarea class="form-control" rows="3" id="cookie"
                                          ng-model="cookie" ng-init="cookie=''"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <span class="col-xs-2"></span>
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-primary" ng-click="changeTabs('basic',false)">上一步</button>
                        </div>
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-primary" ng-click="changeTabs('urlrule',true)">下一步</button>
                        </div>
                    </div>

                </form>
            </div>

            <!-- url 规则 -->
            <div class="tab-pane fade" id="urlrule">
                <form class="form-horizontal" role="form">
                    <br/>
                    <div class="form-group">
                        <label for="pattern" class="col-sm-2 control-label">读取模式</label>
                        <div class="col-xs-4">
                            <select class="form-control" id="pattern" ng-model="crawl_pattern" ng-init="crawl_pattern='单页'" >
                                <option value="单页" ng-selected="true">单页</option>
                                <option value="列表">列表</option>
                                <option value="翻页">翻页</option>
                                <option value="导入">导入</option>
                            </select>
                        </div>
                    </div>

                    <div ng-show="crawl_pattern=='单页'">
                        <div class="form-group">
                            <label for="url_path" class="col-sm-2 control-label">URL路径</label>
                            <div class="col-xs-4">
                                <input type="text" class="form-control" id="url_path"
                                       ng-model="url_path" ng-init="url_path=''">
                            </div>
                        </div>
                    </div>

                    <div ng-show="crawl_pattern=='列表'">
                        <div class="form-group">
                            <label for="url_wildcard" class="col-sm-2 control-label">URL模式</label>
                            <div class="col-xs-4">
                                <input type="text" class="form-control" id="url_wildcard"
                                       ng-model="url_wildcard" ng-init="url_wildcard=''">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="init_value" class="col-sm-2 control-label">初始值</label>
                            <div class="col-xs-4">
                                <input type="text" class="form-control" id="init_value"
                                       ng-model="init_value" ng-init="init_value=''">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="gap" class="col-sm-2 control-label">间隔</label>
                            <div class="col-xs-4">
                                <input type="text" class="form-control" id="gap"
                                       ng-model="gap" ng-init="gap=''">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="pages_num" class="col-sm-2 control-label">页数</label>
                            <div class="col-xs-4">
                                <input type="text" class="form-control" id="pages_num"
                                       ng-model="pages_num" ng-init="pages_num=''">
                            </div>
                        </div>

                    </div>

                    <div ng-show="crawl_pattern=='翻页'">
                        <div class="form-group">
                            <label for="url_index_path" class="col-sm-2 control-label">翻页路径</label>
                            <div class="col-xs-4">
                                <input type="text" class="form-control" id="url_index_path"
                                       ng-model="url_index_path" ng-init="url_index_path=''">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="next_page_xpath" class="col-sm-2 control-label">翻页xpath</label>
                            <div class="col-xs-4">
                                <input type="text" class="form-control" id="next_page_xpath"
                                       ng-model="next_page_xpath" ng-init="next_page_xpath=''">
                            </div>
                        </div>

                    </div>

                    <div ng-show="crawl_pattern=='导入'">
                        <div class="form-group">
                            <label for="import_urls" class="col-sm-2 control-label">导入规则</label>
                            <div class="col-xs-4">
                                <textarea class="form-control" rows="3" id="import_urls"
                                          ng-model="import_urls" ng-list="&#10;" ng-trim="false" ng-init="import_urls=[]"></textarea>
                                <input type="file"
                                       onchange="angular.element(this).scope().setUrls(this)">
                                <!--<input type="file"  id="file_upload_path"-->
                                       <!--ng-model="file_upload_path" ng-init="file_upload_path=''">-->
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <span class="col-xs-2"></span>
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-primary" ng-click="changeTabs('assist',false)">上一步</button>
                        </div>
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-primary" ng-click="changeTabs('miningrule',true)">下一步</button>
                        </div>
                    </div>

                </form>
            </div>

            <!-- 采集规则 -->
            <div class="tab-pane fade" id="miningrule">
                <div class="col-lg-7">
                    <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-xs-11">
                            <button type="button" class="btn btn-primary" ng-click="add()">添加</button>
                            <table class="table table-bordered" style="text-align: center">
                                <thead>
                                <tr>
                                    <td>序号</td>
                                    <td>模式名称</td>
                                    <td>类型</td>
                                    <td>Ajax</td>
                                    <td>操作</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="x in creep_rule">
                                    <td>{{$index + 1}}</td>
                                    <td>{{x.creep_name}}</td>
                                    <td>{{x.creep_pattern}}</td>
                                    <td>{{x.ajax.open}}</td>
                                    <td>
                                        <button type="button" class="btn btn-warning" ng-click="update($index)">修改</button>
                                        <button type="button" class="btn btn-danger" ng-click="del($index)">删除</button>
                                        <button type="button" class="btn btn-default" ng-click="test($index)">测试</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="form-group">
                        <span class="col-xs-2"></span>
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-primary" ng-click="changeTabs('urlrule',false)">上一步</button>
                        </div>
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-primary" ng-click="changeTabs('storerule',true)">下一步</button>
                        </div>
                    </div>

                </form>
                </div>

                <div class="col-lg-4">
                    <textarea class="form-control" id="testarea" rows="3" placeholder="测试模块占位" style="height: 400px"></textarea>
                </div>
            </div>

            <!-- 持久化规则 -->
            <div class="tab-pane fade" id="storerule">
                <form class="form-horizontal" role="form">
                    <br/>
                    <div class="form-group">
                        <label for="persistence_pattern" class="col-sm-2 control-label">读取模式</label>
                        <div class="col-xs-4">
                            <select class="form-control" id="persistence_pattern" ng-model="store_pattern" >
                                <option value="文件" ng-selected="true">文件</option>
                                <option value="数据库">数据库</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="col-xs-2"></span>
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-primary" ng-click="changeTabs('miningrule',false)">上一步</button>
                        </div>
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-primary"  ng-click="changeTabs('planrule',true)">下一步</button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- 执行计划 -->
            <div class="tab-pane fade" id="planrule">
                <form class="form-horizontal" role="form">
                    <br/>

                    <div class="form-group">
                        <label for="proxy" class="col-sm-2 control-label">代理ip</label>
                        <div class="col-xs-4">
                            <textarea class="form-control" rows="3" id="proxy"
                                      ng-model="proxy_ids" ng-list="&#10;" ng-trim="false" ng-init="proxy_ids=[]"></textarea>
                            <input type="file"
                                   onchange="angular.element(this).scope().setIPs(this)">

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="intervaltime1" class="col-sm-2 control-label">间隔时间</label>
                        <div class="col-xs-2">
                            <input type="text" class="form-control" id="intervaltime1" placeholder="起始时间"
                                   ng-model="start_time" ng-init="start_time=''">
                        </div>
                        <div class="col-xs-2">
                            <input type="text" class="form-control" id="intervaltime2" placeholder="终止时间"
                                   ng-model="end_time" ng-init="end_time=''">
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="header" class="col-sm-2 control-label">浏览器头配置</label>
                        <div class="col-xs-4">
                            <textarea class="form-control" rows="3" id="header" placeholder="可不填"
                                      ng-model="headers" ng-init="headers=''"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="userdefinition" class="col-sm-2 control-label">自定义配置</label>
                        <div class="col-xs-4">
                            <textarea class="form-control" rows="3" id="userdefinition" placeholder="可不填"
                                      ng-model="custom_config" ng-init="custom_config=''"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <span class="col-xs-2"></span>
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-primary" ng-click="changeTabs('storerule',false)">上一步</button>
                        </div>
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-primary" ng-click="changeTabs('planrule',true)">完    成</button>
                        </div>
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-primary" ng-click="excuteTask()">执    行</button>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>

    <!-- “导入” The importing area -->
    <div class="col-lg-11" ng-show="side_index==1">
        importing area
    </div>

    <!-- “导出” The exporting area -->
    <div class="col-lg-11" ng-show="side_index==2">
        exporting area
    </div>

    <!-- “监控” The monitoring area -->
    <div class="col-lg-11" ng-show="side_index==3">
        monitoring area
    </div>

    <!--&lt;!&ndash; 测试模块 &ndash;&gt;-->
    <!--<div class="col-lg-4">-->
        <!--<textarea class="form-control" id="testarea" rows="3" placeholder="测试模块占位" style="height: 400px"></textarea>-->
    <!--</div>-->

</div>

<!-- 按钮触发模态框 -->
<!--<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">-->
    <!--模拟浏览器-->
<!--</button>-->

<!-- 模态框（Modal） -->
<div class="modal fade" id="modal_create_project" tabindex="-1" role="dialog" aria-labelledby="modal_create_project_title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="modal_create_project_title">
                    创建项目
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="new_project_name" class="col-sm-2 control-label">项目名称</label>
                        <div class="col-xs-4">
                            <input type="text" class="form-control" id="new_project_name" ng-model="new_project_name">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="createAdvanceProject()">
                    创建
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="modal_create_task" tabindex="-1" role="dialog" aria-labelledby="modal_create_task_title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="modal_create_task_title">
                    创建任务
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="new_project_name" class="col-sm-2 control-label">任务名称</label>
                        <div class="col-xs-4">
                            <input type="text" class="form-control" id="new_task_name" ng-model="new_task_name">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" ng-click="createAdvanceTask()">
                    创建
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 添加信息 -->
<div class="modal" id="modal-add">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                <button class="close" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <h3 class="modal-title">添加信息</h3>
            </div>

            <div class="modal-body">
                <form class="form-horizontal" role="form"  method="post" id="crawlrule">
                    <div class="form-group">
                        <br/>
                        <span ng-model="t_index"></span>
                        <label for="projectname" class="col-sm-2 control-label">模式名称</label>
                        <div class="col-xs-4">
                            <input type="text" class="form-control" name="patternName"
                                   placeholder="请输入模式名称"
                                   ng-model="creep_name" ng-init="creep_name=''">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="taskname" class="col-sm-2 control-label">读取模式</label>
                        <div class="col-xs-4">
                            <select class="form-control" name="crawltype"
                                    ng-model="creep_pattern" ng-init="creep_pattern='单体'">
                                <option value="单体" ng-selected="true">单体</option>
                                <option value="线索">线索</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="taskname" class="col-sm-2 control-label">是否使用Ajax</label>
                        <div class="col-xs-4">
                            <select class="form-control" name="ifajax" ng-click="changeifHide(x)" ng-model="x" ng-init="x=false">
                                <option value="false" ng-selected="true">否</option>
                                <option value="true">是</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-show="x=='true'" >
                        <label for="taskname" class="col-sm-2 control-label">Ajax类型</label>
                        <div class="col-xs-4">
                            <select class="form-control" name="ajaxtype" ng-model="ajax_pattern" ng-init="ajax_pattern='点击'">
                                <option value="点击" ng-selected="true">点击</option>
                                <option value="滚动" >滚动</option>
                                <option value="翻页" >翻页</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-show="x=='true'" >
                        <label for="manager" class="col-sm-2 control-label">点击元素的Xpath</label>
                        <div class="col-xs-4">
                            <input type="text" class="form-control" name="ajaxxpath"
                                   placeholder="请输入要点击的对象的xpath"
                                   ng-model="button_xpath" ng-init="button_xpath=''">
                        </div>
                        <div class="col-xs-4">
                            <button id="select_iframe_ajax" ng-click="select_ajax_xpath()">选择</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="manager" class="col-sm-2 control-label">Xpath</label>
                        <div class="col-xs-4">
                            <input type="text" class="form-control" name="xpath"
                                   placeholder="请输入xpath"
                                   ng-model="attribute_xpath" ng-init="attribute_xpath=''">
                        </div>
                        <div class="col-xs-4">
                            <button id="select_iframe" ng-click="select_xpath()">选择</button>
                        </div>
                    </div>
                    <div class="form-group" ng-show="creep_pattern=='线索'">
                        <label for="manager" class="col-sm-2 control-label">Xpath2</label>
                        <div class="col-xs-4">
                            <input type="text" class="form-control" name="xpath2"
                                   placeholder="请输入xpath2"
                                   ng-model="attribute_xpath2" ng-init="attribute_xpath2=''">
                        </div>
                        <div class="col-xs-4">
                            <button id="select_iframe_two" ng-click="select_xpath2()">选择</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="taskdescription" class="col-sm-2 control-label">属性名称</label>
                        <div class="col-xs-4">
                            <input type="text" class="form-control" name="nameindb"
                                   placeholder="请输入属性名称"
                                   ng-model="attribute_name" ng-init="attribute_name=''">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="manager" class="col-sm-2 control-label">提取模式</label>
                        <div class="col-xs-4">
                            <select class="form-control" name="extract_way" ng-model="extract_way" ng-init="extract_way='文本'">
                                <option value="文本" ng-selected="true">文本</option>
                                <option value="链接" >链接</option>
                            </select>
                        </div>
                    </div>

                    <!--<div class="form-group">-->
                        <!--<div style="text-align:center">-->
                            <!--<div class="col-xs-8">-->
                                <!--<button  ng-click="testCrawler()">测试</button>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">关闭</button>
                <button class="btn btn-success" data-dismiss="modal" ng-click="save()">保存</button>
            </div>

        </div>

    </div>

</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="modal-select-xpath" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <div>
                    <h4 class="modal-title" id="myModalLabel">
                        选取路径
                    </h4>
                    <input class="col-xs-12 btn btn-default" type="text" id="xpath"/>
                </div>

            </div>
            <div class="modal-body">
                <iframe src="/view/iframe.html" id="iframe" style="height: 500px;width: 100%"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="select_commit()">
                    提交
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="modal-select-xpath2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <div>
                    <h4 class="modal-title" id="myModalLabel2">
                        选取路径
                    </h4>
                    <input class="col-xs-12 btn btn-default" type="text" id="xpath2"/>
                </div>

            </div>
            <div class="modal-body">
                <iframe src="/view/iframe.html" id="iframe2" style="height: 500px;width: 100%"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="select_commit()">
                    提交
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 模态框3（Modal） -->
<div class="modal fade" id="modal-select-ajax-xpath" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <div>
                    <h4 class="modal-title" id="myModalLabel3">
                        选取路径
                    </h4>
                    <input class="col-xs-12 btn btn-default" type="text" id="ajax_xpath"/>
                </div>

            </div>
            <div class="modal-body">
                <iframe src="/view/iframe.html" id="iframe3" style="height: 500px;width: 100%"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="select_commit()">
                    提交
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- 修改信息 -->
<div class="modal" id="modal-update">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                <button class="close" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <h3 class="modal-title">修改信息</h3>
            </div>

            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <br/>
                        <span ng-model="t_index"></span>
                        <label for="projectname" class="col-sm-2 control-label">模式名称</label>
                        <div class="col-xs-4">
                            <input type="text" class="form-control" name="patternName"
                                   placeholder="请输入模式名称"
                                   ng-model="creep_name" ng-init="creep_name=''">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="taskname" class="col-sm-2 control-label">读取模式</label>
                        <div class="col-xs-4">
                            <select class="form-control" name="crawltype"
                                    ng-model="creep_pattern" ng-init="creep_pattern='单体'">
                                <option value="单体" ng-selected="true">单体</option>
                                <option value="线索" >线索</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="taskname" class="col-sm-2 control-label">是否使用Ajax</label>
                        <div class="col-xs-4">
                            <select class="form-control" name="ifajax" ng-click="changeifHide(x)" ng-model="x" ng-init="x=false">
                                <option value="false" ng-selected="true">否</option>
                                <option value="true">是</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-show="x=='true'" >
                        <label for="taskname" class="col-sm-2 control-label">Ajax类型</label>
                        <div class="col-xs-4">
                            <select class="form-control" name="ajaxtype" ng-model="ajax_pattern" ng-init="ajax_pattern='点击'">
                                <option value="点击" ng-selected="true">点击</option>
                                <option value="滚动" >滚动</option>
                                <option value="翻页" >翻页</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-show="x=='true'" >
                        <label for="manager" class="col-sm-2 control-label">点击元素的Xpath</label>
                        <div class="col-xs-4">
                            <input type="text" class="form-control" name="ajaxxpath"
                                   placeholder="请输入要点击的对象的xpath"
                                   ng-model="button_xpath" ng-init="button_xpath=''">
                        </div>
                        <div class="col-xs-4">
                            <button id="select_iframe_update_ajax" ng-click="select_ajax_xpath()">选择</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="manager" class="col-sm-2 control-label">Xpath</label>
                        <div class="col-xs-4">
                            <input type="text" class="form-control" name="xpath"
                                   placeholder="请输入xpath"
                                   ng-model="attribute_xpath" ng-init="attribute_xpath=''">
                        </div>
                        <div class="col-xs-4">
                            <button id="select_iframe_update_one" ng-click="select_xpath()">选择</button>
                        </div>
                    </div>
                    <div class="form-group" ng-show="creep_pattern=='线索'">
                        <label for="manager" class="col-sm-2 control-label">Xpath2</label>
                        <div class="col-xs-4">
                            <input type="text" class="form-control" name="xpath2"
                                   placeholder="请输入xpath2"
                                   ng-model="attribute_xpath2" ng-init="attribute_xpath2=''">
                        </div>
                        <div class="col-xs-4">
                            <button id="select_iframe_update_two" ng-click="select_xpath2()">选择</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="taskdescription" class="col-sm-2 control-label">属性名称</label>
                        <div class="col-xs-4">
                            <input type="text" class="form-control" name="nameindb"
                                   placeholder="请输入属性名称"
                                   ng-model="attribute_name" ng-init="attribute_name=''">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="manager" class="col-sm-2 control-label">提取模式</label>
                        <div class="col-xs-4">
                            <select class="form-control" name="extract_way" ng-model="extract_way" ng-init="extract_way='文本'">
                                <option value="文本" ng-selected="true">文本</option>
                                <option value="链接" >链接</option>
                            </select>
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<div style="text-align:center">-->
                            <!--<div class="col-xs-8">-->
                                <!--<button  ng-click="testCrawler()">测试</button>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">关闭</button>
                <button class="btn btn-success" data-dismiss="modal" ng-click="modify(t_index)">确定</button>
            </div>

        </div>

    </div>

</div>

<!-- Loading -->
<div class="modal fade" id="loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4" data-backdrop='static'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <h3 class="modal-title">提示</h3>
            </div>
            <div class="modal-body">
                请稍候。。。
            </div>
        </div>
    </div>
</div>
