<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monetware.mapper.search.ImportSearchMapper">

  	<insert id="importSearchDb"  parameterType="com.monetware.model.search.ImportSearchModel" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO 
	    search_info
	    (create_user,project_id,${column})
	    
	    SELECT ${userId},${num}, ${sqlStr} FROM
	    
	    collect_info_${num};
	     
	   
  	</insert>
  	
  	
  	
  	
  	
  	<select id="getTableColumn"  parameterType="java.util.Map"  resultType="java.util.Map" >
	    select
	    	*
	    from
	    	collect_info_${id}
	    	where 
	   		`id` = 1;
  	</select>
  	
  	
  	
  	<select id="getProjectStatus"  parameterType="com.monetware.model.collect.CollectProject"  resultType="java.util.Map" >
	    select
	    	import_search_status
	    from
	    
	    	collect_project
	    	
	    	where 
	   		`id` = #{id};
  	</select>
  	
  	
  	
  	
  	<update id="updateImportStatus" parameterType="com.monetware.model.collect.CollectProject" >
        
        
        UPDATE  collect_project SET import_search_status = #{status}
 		 WHERE create_user = #{userId} AND id = #{num};
        
    </update>
  	
  	
  	
  	
  	
  	
  	
</mapper>